body {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
  }
.main-nav {
  font-size: 16px;
  list-style-type: none;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #D3D3D3;
  }
.cell {
    float: left;
    position: relative;
    width: 22.55%;
    height: 100%;
    margin: 1%;
}
h1 {
    color: black;
    font-size: 2vw;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: black;
    font-size: 1vw;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    color: black;
    font-size: 1.5vw;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
img {
    display: block;
    border: none;
    height: 150px;
}
.products {
    margin: 5%;
}
a:hover {
    background-color: rgba(0, 109, 58, 0.384);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    font-size: 2vw;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
input[type=submit] {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(73, 72, 14, 0.726);
    color: white;
    font: bold;
    font-size: 1vw;
    border-radius: 3px;
}

a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
}